body{
  
}
.main-parent {
  text-align: center;
}

.main-parent-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.main-parent-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.main-parent-title {
  font-size: 1.5em;
}

.main-parent-intro {
  font-size: large;
}

.main-parent table tr td {
  text-align: left;
  color: black;
}
/* tr:nth-child(odd){
  background-color: #f2f2f2
} */
tr{
  background-color :#f2f2f2;
}
tr:hover{
  background-color: orange;
  color: white
}
tr:hover td{
  color: white;
  
}

table{
  width: 100%;
  box-shadow: 0 10px 6px -6px #777;
}
.main-parent td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  width: 15%;
}
.main-parent table tr td:last-child{

  width: 28%;
}
.main-parent h1{
  text-transform: uppercase;
  text-align: left;
  margin-top: 10px;
  color: #786fa6;
}
h1.heading-parent {
  background-color: rgb(20, 19, 19);
  padding: 15px;
  color: white;
  margin-bottom:0px;
  
  box-shadow: 0 10px 6px -6px #777;
}
.background{
  background-image: url("./Images/background.jpg");
  height: 400px;
  width:100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.player-parent{
  margin-top: 50px;
}

.nav-parent{
  background-color: #0f4275ab;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link{
  color:white;
}
.second-parent{
  background-color: #777; 
}
